<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ExamDao">
    <insert id="insert">
    INSERT INTO t_exam VALUES (0,#{exam_status},#{exam_advice},sysdate(),sysdate(),#{d_id})
  </insert>
    <select id="select" resultType="com.baizhi.entity.Exam">
    SELECT * FROM t_exam WHERE d_id=#{d_id}
  </select>
    <resultMap id="r1" type="com.baizhi.entity.Exam">
        <id column="id" property="id"></id>
        <result column="exam_status" property="exam_status"></result>
        <result column="exam_advice" property="exam_advice"></result>
        <result column="exam_start_date" property="exam_start_date"></result>
        <result column="exam_end_date" property="exam_end_date"></result>
        <result column="d_id" property="d_id"></result>
        <collection property="drug" ofType="com.baizhi.entity.Drug">
            <result column="name" property="name"></result>
            <result column="product_company" property="product_company"></result>
        </collection>
    </resultMap>
    <select id="selectCheck" resultMap="r1">
    SELECT
	t1.NAME,
	t1.product_company,
	t2.*
    FROM
	t_drug t1
    LEFT JOIN t_exam t2 ON t1.id = t2.d_id
  </select>
</mapper>