<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.PatientMapper">
    <select id="selectByPage" resultType="com.baizhi.entity.Patient">
        SELECT * FROM t_patient
        WHERE 1=1 AND status=0
        <if test="name!=null">
            AND name like #{name}
        </if>
        limit #{start},#{rows}
    </select>
    <select id="selectAccount" resultType="int">
        SELECT COUNT(1) FROM t_patient
        WHERE 1=1 AND status=0
        <if test="name!=null">
            AND name LIKE #{name}
        </if>
    </select>
    <insert id="insert">
        INSERT INTO t_patient VALUES (0,#{name},#{sex},#{birth},#{idcard},#{address},#{mobile},#{status})
    </insert>
    <update id="update">
        UPDATE t_patient SET name=#{name},sex=#{sex},birth=#{birth},idcard=#{idcard},address=#{address},mobile=#{mobile} WHERE id=#{id}
    </update>
    <update id="multiDelete">
        UPDATE t_patient SET status=1
        WHERE 1=1 AND id IN
        <foreach collection="array" open="(" separator="," close=")" item="ids">
            #{ids}
        </foreach>
    </update>
    <update id="updateReg">
        UPDATE t_patient SET is_reg=1 WHERE id=#{id}
    </update>
</mapper>